* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  /* border: 2px solid red; */
  min-width: 375px;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
}

.container {
  padding: 18px 24px 0 18px;
  /* border: 2px solid green; */
}
